body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Latar belakang halaman */
    margin: 0;
    padding: 0;
}

.h1 {
    background-color: #003333; /* Warna background heading */
    color: white;
    padding: 0.25px 0;
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #ffffff; /* Latar belakang formulir */
    max-width: 600px;
    margin: 0 auto; /* Memusatkan formulir */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
}

td {
    padding: 8px;
    vertical-align: top;
}

input[type="text"],
input[type="date"],
textarea,
select {
    width: 100%;
    padding: 6px;
    margin: 4px 0;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: #003333;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0088cc;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

p {
    text-align: center;
}

a {
    color: blueviolet;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
